.taskbar-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 640px;
    height: 50px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.121);
    background-color: white;
    z-index: 999;
    position: sticky;
    top: 80px;
}
.taskbar {
    position: sticky;
    top: 80px;
    left: 0px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.task-section, .group-section, .member-section {
    width: 100%;
    padding: 0 0 20px;
}
.task-container, .group-container, .member-container {
    display: flex;
    flex-direction: row;
    padding: 30px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: white;
    width: 95%;
    max-width: 1250px;
    flex-wrap: wrap;
}
.task-container {
    flex-direction: row;
    justify-content: space-between;
}
.group-container, .member-container {
    max-width: 600px;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
}
.group-container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.group-container .create-group {
    width: 100%;
}
.group-container input {
    max-width: 300px;
    min-width: 100px;
    width: 100%;
}
.group-container textarea {
    width: 100%;
    height: 25%;
}
.task-container .task-giver {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px   ;
}
.task-group {
    display: flex;
    flex-direction: column;
    width: calc(100% / 3 - 20px * 2 / 3);
    border: 2px solid black;
    min-height: 150px;
    border-radius: 8px;
    background-color: white;
    overflow: hidden;
}
.task-group .task-header {
    border-radius: 6px 6px 0 0;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    padding: 15px 10px;
    text-align: center;
}
.task-function {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.task-function i {
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.3s;
}
.task-function i:hover {
    background-color: rgb(207, 207, 207);
}
.task-board {
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.task-board .task {
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    display: flex;
    border: 1px solid rgb(143, 143, 143);
    align-items: center;
    justify-content: space-between;
    transition: 0.5s;
    cursor: pointer;
}
.task-board .task:hover {
    background-color: rgb(236, 236, 236);
}
.task-detail {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: rgb(63, 63, 63);
}
.task-property {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid gray;
    width: fit-content;
    padding: 2px 3px;
    border-radius: 5px;
    color: rgb(63, 63, 63);
    font-size: 13px;
}
.task-property i {
    font-size: 14px;
}
.task-detail .task-name {
    font-size: 14px;
}
.task-detail .task-user {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}
.task-user .user {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
    font-size: 12px;
}
.user .user-name {
    line-height: 0px;
}
.user .user-img {
    --user-url: url(/);
    background-image: var(--user-url);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    width: 18px;
    height: 18px;
}
main {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
section {
    display: flex;
    align-items: center;
    justify-content: center;
}